@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url(./reset.scss);

$color-border: #938f87;
$color-bg: #c7c2b8;
$color-text: #1b1b19;
$border01: 1px solid $color-border;
$border02: 6px double $color-border;

html,
body {
  font-family: "Fjalla One", "Noto Sans KR", sans-serif;
  background-color: $color-bg;
  color: $color-text;
  overflow-x: hidden;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;

  .section-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
      height: 8rem;
      box-sizing: border-box;
      border-bottom: $border01;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 5rem;
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.5rem;
        font-weight: bold;
      }

      ul {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        font-size: 2rem;
        padding-bottom: 0.5rem;
      }
    }

    main {
      flex-grow: 1;
      padding: 1rem 0;
      display: flex;

      div {
        box-sizing: border-box;
        border: $border02;
        flex-grow: 1;
      }
    }
  }

  .section-2 {
    background-color: $color-text;
    margin: 1rem 0;
    padding: 2rem 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    letter-spacing: -0.5rem;
  }

  .section-3 {
    min-height: 50rem;
    display: flex;
    border-top: $border01;
    border-bottom: $border02;

    aside {
      width: 40%;
      border-right: $border01;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        font-size: 5rem;
        padding: 2rem 0 2rem 2rem;
        letter-spacing: -0.2rem;
      }

      .bottom {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        img {
          &:nth-child(2) {
            transform: scaleX(-1);
          }
        }
      }
    }

    article {
      width: 60%;
      font-size: 2rem;
      display: flex;
      align-items: center;
      padding: 0 3rem;
      line-height: 1.3;
    }
  }
}

footer {
  min-height: 75vh;
  background-color: $color-text;
  color: white;
  position: relative;

  .email {
    position: absolute;
    font-size: 12vmin;
    bottom: 2rem;
    right: 2rem;
  }
}